@import url('https://fonts.googleapis.com/css?family=Baskervville|Arimo&display=swap');

body {
  /* margin: 4rem; */
  font-family: 'Arimo', sans-serif;
  word-wrap: break-word;
  font-size: 120%;
}

#my-name {
  font-family: 'Baskervville', serif;
  font-size: 23px;
}

.menu-item {
  font-size: 18px;
}

.side-menu {
  height: 100%;
  padding: 2rem 0 0 2rem;
  overflow-y: auto;
  z-index: 1;
  overflow-x: hidden;
  background-color: white !important;
}

.ui.vertical.menu {
  width: 23rem !important;
  margin-right: 1rem !important;
}

.project-card {
  height: 390px;
  margin: 2rem !important;
}

.ui.container.page-content {
  margin-left: auto !important;
  display: block;
}

#about-img {
  object-fit: cover;
}

#about-header {
  font-size: 30px;
}