@import url('https://fonts.googleapis.com/css?family=Baskervville|Arimo|Dancing+Script|Ibarra+Real+Nova|Julius+Sans+One|Montserrat:300&display=swap');

body {
  font-family: 'Arimo', sans-serif;
  font-size: 120%;
  background-color: white;
}

/* HomePage */

#home-wrapper {
  margin-left: 23rem;
  text-align: center;
  position: relative;
  height: 650px;
}

#home-wrapper #home-img {
  height: 650px;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  object-position: 50% 0;
}

#home-wrapper #home-text {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  color: #515151;
}

#home-wrapper #text-one {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 36px;
  margin: 0 0 10px;
}

#home-wrapper #text-two {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
}

.draw {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}

.path {
  fill: white;
}

#home-info-grid {
  display: block;
  margin-left: 23rem;
  padding: 10rem 15%;
  display: grid;
  grid-template-rows: 55px 75px repeat(3, 100px);
  grid-template-columns: 1.75fr 0.5fr 2fr 0.75fr;
  gap: 15px;
}

#home-item-img {
  grid-row: 1/6;
  grid-column: 1/3;
}

#bodensee-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 20px solid #ffff99b2;
}

#home-header {
  grid-row: 2/3;
  grid-column: 2/4;
  background-color: #ffff99;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 23px;
  color: #525252;
  text-align: center;
}

#home-intro {
  grid-row: 3/6;
  grid-column: 3/5;
  padding: 2rem 0 1.5rem 1.5rem;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 20px;
  color: #525252;
}

#arrow-wrapper {
  margin-left: 23rem;
  text-align: center;
  position: relative;
  height: 650px;
}

#mosaic-img {
  height: 650px;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

#arrow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #515151;
  background: rgba(255, 255, 255, 0.568);
  padding: 20px;
}

#arrow-text-one {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 25px;
}

#draw-two {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

#path-two {
  fill: white;
}

footer {
  position: relative;
  margin: 10rem 0 0 23rem;
  padding: 4.5em 0;
  background: #fbfb97;
  text-align: center;
}

.footer-container {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  color: #525252;
}

footer .container-social {
  display: flex;
  justify-content: center;
}

.footer-container a {
  margin: 0 .5em;
}

.footer-container .icon {
  color: #808984;
  margin: 0;
  transition: transform .2s;
}

.footer-container .icon:hover {
  color: #525252;
  transform: scale(1.5);
}

/* Technologies */

.tech-container {
  margin: 0 auto;
  padding: 1.5em;
  width: 90%;
  max-width: 800px;
  background-color: #f5f6f788;
  border-radius: 12px;
  border: 1px solid #dddedf;
  box-shadow: 19px 30px 40px rgba(0, 0, 0, 0.082);
}

.tech-container .list-header {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
  color: #ca8d22;
}

.tech-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: .5em;
  list-style: square;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.275rem;
  color: #525252;
}

.tech-container li {
  width: 27%;
  margin: 0 1em;
}

/* SideBar */

#my-name {
  font-family: 'Baskervville', serif;
  font-size: 23px;
  color: #525252;
}

.menu-item {
  font-size: 18px;
  font-family: 'Julius Sans One', sans-serif;
}

.side-menu {
  height: 100%;
  padding: 2rem 0 0 2rem;
  z-index: 1;
  overflow-x: hidden;
  background-color: #f5f6f7 !important;
}

.ui.vertical.menu {
  width: 23rem !important;
  margin-right: 1rem !important;
}

/* Projects */

#wrapper {
  margin-left: 23rem;
  text-align: center;
  position: relative;
}

#projects-background {
  object-fit: cover;
  object-position: 50% 92%;
  width: 100%;
  height: 480px;
  opacity: 0.8;
}

#wrapper #image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: white;
}

#description-wrapper {
  text-align: center;
  margin: 3rem 0;
}

.description {
  margin-left: 23rem;
}

#description-one {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 23px;
  color: #808984;
}

#description-one:after {
  content: "";
  display: block;
  border-left: 1px solid #808984;
  height: 5rem;
  position: relative;
  left: 50%;
  margin: 1rem 0 1rem 0
}

#description-two {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  color: #525252;
}

#project-wrapper {
  margin: 15px;
  position: relative;
}

#project-wrapper .project-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 250px;
  text-align: center;
  visibility: hidden;
  color: #383838;
  background-color: rgba(255, 255, 255, 0.609);
  padding: 6px;
}

#project-wrapper:hover .project-text {
  visibility: visible;
}

#project-wrapper:hover .project-img {
  opacity: 0.4;
}

.project-img {
  object-fit: cover;
  height: 350px;
  width: 350px;
}

.project-name {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 23px;
}

.project-description {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 20px;
}

.ui.container.page-content {
  margin-left: 23rem !important;
  display: block;
  width: auto !important;
}

/* AboutMe */

#grid-container {
  display: block;
  margin-left: 23rem;
  padding: 4rem 10%;
  display: grid;
  grid-template-rows: repeat(6, 75px) repeat(3, 90px);
  grid-template-columns: 25% repeat(3, 95px) 40%;
  gap: 15px;
}

#item-img-one {
  grid-row: 3/9;
  grid-column: 1/3;
}

#about-img-one {
  object-position: 74% 50%;
}

#item-img-two {
  grid-row: 7/10;
  grid-column: 2/5;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 20px solid #ffff99b2;
}

#item-text {
  grid-row: 1/7;
  grid-column: 3/6;
  padding: 0 0 1rem 2rem;
}

#about-header {
  font-size: 30px;
  font-family: 'Julius Sans One', sans-serif;
  color: #ca8d22;
}

#about-text {
  color: #525252;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 20px;
}

#about-intro {
  font-style: italic;
}

.ui.divider {
  width: 4rem;
}

/* Resume */

#resume-wrapper {
  margin: 4rem 0 4rem 23rem;
  padding: 0 10%;
}

.resume-header {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  color: #ca8d22;
}

.resume-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #525252;
}

.resume-list-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #383838;
}

.resume-work-tasks > .item {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
  color: #383838;
  list-style-type: square !important;
  margin-left: 10px;
  margin-bottom: 8px;
}

.resume-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
  color: #383838;
  margin-bottom: 5px;
}

.resume-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px !important;
  color: #383838;
  font-style: italic;
}

.education-list-item {
  padding: 18px 0 !important;
}

[id='1'].education-list-item {
  padding-top: 0px !important;
}

.ui.teal.segment {
  margin: 28px 0 !important;
  background-color: #f5f6f788;
  border: 1px solid #dddedf !important;
}

/* Contact */

#contact-wrapper {
  margin-left: 23rem;
  text-align: center;
  position: relative;
}

#contact-img {
  object-fit: cover;
  object-position: 50% 85%;
  width: 100%;
  height: 350px;
  opacity: 0.8;
}

#contact-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: white;
}

#contact-container {
  margin: 6rem 0 4rem 23rem !important;
  display: block;
  width: auto !important;
}

#contact-container .grid {
  width: 40vw !important;
  background-color: #f5f6f7;
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #dddedf;
}

.contact-form input {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px !important;
}

.contact-form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
}

#contact-container h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 32px;
  color: #ca8d22;
}

.contact-info {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #515151;
}